<form class="form">
    <h2>Jornada</h2>
  <div>
    <mat-form-field class="example-full-width">
        <input matInput [(ngModel)]="name" name="name" placeholder="Nombre">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput [(ngModel)]="place" name="place" placeholder="Lugar">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="example-full-width">
    <input #selectDep type="text" placeholder="Departamento" 
    [(ngModel)]="department" 
    aria-label="Number" 
    matInput [formControl]="departmentControl" 
    [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option 
      *ngFor="let depart of filteredDepartment | async" 
      [value]="depart.nombreDepartamento"
      (onSelectionChange)="infoDep($event, depart.departamentoId)">
        {{ depart.nombreDepartamento }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input type="text" placeholder="Ciudad" [(ngModel)]="city" aria-label="Number" matInput [formControl]="cityControl" [matAutocomplete]="autoC">
    <mat-autocomplete #autoC="matAutocomplete">
      <mat-option *ngFor="let city of filteredCity | async" [value]="city.nombreCiudad">
        {{ city.nombreCiudad }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  </div>
  <div>
  <mat-form-field>
  <mat-select class="example-full-width" [(ngModel)]="tipo" placeholder="Tipo" name="tipo">
    <mat-option *ngFor="let typ of types" [value]="typ.name">
      {{ typ.name }}
    </mat-option>
  </mat-select>
  </mat-form-field>
  <mat-form-field>
  <mat-select class="example-full-width" [(ngModel)]="state" placeholder="Estado" name="state">
    <mat-option *ngFor="let sta of states" [value]="sta.name">
      {{ sta.name }}
    </mat-option>
  </mat-select>
  </mat-form-field>
  </div>
  <div class="buttonMargin">
    <mat-form-field class="example-full-width">
        <input matInput type="date" [(ngModel)]="date" name="colaborationEntity" placeholder="Fecha">
    </mat-form-field>
    <mat-form-field>
      <mat-select class="example-full-width" [(ngModel)]="bioquimica" placeholder="Variable Bioquímica" name="estado">
        <mat-option [value]=true >Si</mat-option>
        <mat-option [value]=false >No</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="buttonMargin">
  <button class="btn btn-info" (click)="update()">Modificar Jornada</button>
  </div>
</form>