<div class="col-sm-5">
<h3>Marcadores Bioquímicos</h3>
<form class="form-socio" name="form" (ngSubmit)="f.form.valid && saveData()" #f="ngForm" novalidate>
  <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !dext.valid }">
    <label >Dextrometría a cualquier hora</label>
    <div class="input-group">
	    <input type="text" #dext="ngModel" [(ngModel)]="dextrom" name="dextrom" (blur)="infoDextrometria(dext.value)" class="form-control" aria-describedby="helpBlock" required>
	    <div class="input-group-addon">mg/dl</div>
    </div>
    <div *ngIf="f.submitted && !dext.valid" class="help-block">Este campo es requerido</div> 
  </div>
  <div class="form-group">
   <label>Perfil Lipídico</label>
    <div class="form-group form-group-sm" [ngClass]="{ 'has-error': f.submitted && !coles.valid }">
      <label class="col-sm-3 control-label" for="formGroupInputSmall">Colesterol:</label>
      <div class="col-sm-9 input-group">
        <input class="form-control" #coles="ngModel" [(ngModel)]="colesterol" name="colesterol" (blur)="infoColesterol(coles.value)" type="text" id="formGroupInputSmall" required>
        <div class="input-group-addon">mg/dl</div>
      </div>
      <div *ngIf="f.submitted && !coles.valid" class="help-block">Este campo es requerido</div> 
    </div>
    <div class="form-group form-group-sm" [ngClass]="{ 'has-error': f.submitted && !trigl.valid }">
      <label class="col-sm-3 control-label" for="formGroupInputSmall">Triglicéridos:</label>
      <div class="col-sm-9 input-group">
        <input class="form-control" #trigl="ngModel" [(ngModel)]="trigliceridos" name="trigliceridos" (blur)="infoTrigliceridos(trigl.value)" type="text" id="formGroupInputSmall" required>
        <div class="input-group-addon">mg/dl</div>
      </div>
      <div *ngIf="f.submitted && !trigl.valid" class="help-block">Este campo es requerido</div> 
    </div>
    <div class="form-group form-group-sm" [ngClass]="{ 'has-error': f.submitted && !hdl2.valid }">
      <label class="col-sm-3 control-label" for="formGroupInputSmall">HDL:</label>
      <div class="col-sm-9 input-group">
        <input class="form-control" #hdl2="ngModel" [(ngModel)]="hdl" name="hdl" (blur)="infoHdl(hdl2.value)" type="text" id="formGroupInputSmall" required>
        <div class="input-group-addon">mg/dl</div>
      </div>
      <div *ngIf="f.submitted && !hdl2.valid" class="help-block">Este campo es requerido</div> 
    </div>
    <div class="form-group form-group-sm" [ngClass]="{ 'has-error': f.submitted && !ldl2.valid }">
      <label class="col-sm-3 control-label" for="formGroupInputSmall">LDL:</label>
      <div class="col-sm-9 input-group">
        <input class="form-control" #ldl2="ngModel" [(ngModel)]="ldl" name="ldl" (focus)="infoLdl(ldl2.value)" type="text" id="formGroupInputSmall" required>
        <div class="input-group-addon">mg/dl</div>
      </div>
      <div *ngIf="f.submitted && !ldl2.valid" class="help-block">Este campo es requerido</div> 
    </div>
  </div>
  <div class="form-group">
    <label for="insurer">Comorbilidad</label>
	  <input type="text" #comor="ngModel" [(ngModel)]="comorbilidad" name="comorbilidad" class="form-control" disabled aria-describedby="helpBlock">
  </div>
  <div class="form-group">
    <label for="insurer">Comorbilidad Controlado</label>
	  <input type="text" #comorb="ngModel" [(ngModel)]="comorbilidadCon" name="comorbilidadCon" class="form-control" disabled aria-describedby="helpBlock">
  </div>
  <nav aria-label="controles">
  <ul class="pager">
    <li><button class="btn btn-default">Enviar</button></li>
  </ul>
</nav>
</form>
</div>
<div class="col-sm-4 card">
  <img src="../../../assets/estaciones/Spanish-Multicultural-003.jpg" class="img-responsive img-thumbnail" alt="Responsive image">
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>
      <h4>Interpretaciones</h4>
    </mat-card-title>
    <mat-card-subtitle>Variables Fisiológicas</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
     <strong>Categoría dextrometrica: </strong> {{interDextrom}}
    </p>
    <p>
      <strong>Categoría Colesterol: </strong> {{interColest}}
    </p>
    <p>
      <strong>Categoría Triglicéridos: </strong> {{interTriglic}}
    </p>
    <p>
      <strong>Categoría HDL: </strong> {{interHdl}}
    </p>
    <p>
      <strong>Categoría LDL: </strong> {{interLdl}}
    </p>
  </mat-card-content>
</mat-card>
</div>