
<h3>Dimensión Sueño</h3>
<form class="form-socio" class="col-sm-6">
  <div class="form-group">
    <label >42. Cuantas horas en promedio duerme usted  diariamente:</label>
    <input type="text" id="" class="form-control" aria-describedby="helpBlock">
  </div>
  <button type="button" class="btn btn-primary" (click)=interpretationConfirm()>Interretacion</button>
  <nav aria-label="controles">
  <ul class="pager">
    <li><a [routerLink]="['../nutricion']">Anterior</a></li>
    <li><a [routerLink]="['../espiritual']">Siguiente</a></li>
  </ul>
</nav>
</form>