
<h3>Dimensión Nutricional</h3>
<form class="form-socio" class="col-sm-6">
  <div class="form-group">
    <label >¿Cuántas porciones de frutas come en promedio por día? Una porción es el equivalente al puño de su mano.</label>
    <input type="text" [(ngModel)]="fruits" name="fruits" class="form-control" aria-describedby="helpBlock">
  </div>
  <div class="form-group">
    <label >¿Cuántas porciones de verduras come en promedio por día? Una porción es el equivalente al puño de su mano.</label>
    <input type="text" [(ngModel)]="vegetables" name="vegetables" class="form-control" aria-describedby="helpBlock">
  </div>
  <div class="form-group" [(ngModel)]="grease" name="grease">
    <label for="insurer">¿Usted controla el consumo de grasas en sus comidas diarias?</label>
    <select class="form-control">
      <option>...seleccionar...</option>
      <option>Siempre</option>
      <option>Con alguna frecuencia</option>
      <option>Con Poca frecuencia </option>
      <option>Nunca</option>
    </select>
  </div>
  <div class="form-group" [(ngModel)]="sal" name="sal">
    <label for="insurer">¿Usted controla el consumo de sal en sus comidas diarias?</label>
    <select class="form-control">
      <option>...seleccionar...</option>
      <option>Siempre</option>
      <option>Con alguna frecuencia</option>
      <option>Con Poca frecuencia </option>
      <option>Nunca</option>
    </select>
  </div>
  <div class="form-group" [(ngModel)]="sugar" name="sugar">
    <label for="insurer">¿Usted controla el consumo de azúcar en sus comidas diarias?</label>
    <select class="form-control">
      <option>...seleccionar...</option>
      <option>Siempre</option>
      <option>Con alguna frecuencia</option>
      <option>Con Poca frecuencia </option>
      <option>Nunca</option>
    </select>
  </div>
  <div class="form-group" [(ngModel)]="foods" name="foods">
    <label for="insurer">¿Usted consume regularmente tres comidas al día?</label>
    <select class="form-control">
      <option>...seleccionar...</option>
      <option>Siempre</option>
      <option>Con alguna frecuencia</option>
      <option>Con Poca frecuencia </option>
      <option>Nunca</option>
    </select>
  </div>
  <div class="form-group" [(ngModel)]="water" name="water">
    <label for="insurer">¿Usted consume regularmente 5 a 8 vasos de agua al día?</label>
    <select class="form-control">
      <option>...seleccionar...</option>
      <option>Siempre</option>
      <option>Con alguna frecuencia</option>
      <option>Con Poca frecuencia </option>
      <option>Nunca</option>
    </select>
  </div>
  <nav aria-label="controles">
  <ul class="pager">
    <li><a [routerLink]="['../ejercicio']">Anterior</a></li>
    <li><a [routerLink]="['../sueno']">Siguiente</a></li>
  </ul>
</nav>
</form>
<md-card class="example-card col-sm-2">
  <md-card-header>
    <md-card-title>
      <h4>Interpretaciones</h4>
    </md-card-title>
    <md-card-subtitle>Dimensión Nutricional</md-card-subtitle>
  </md-card-header>
  <md-card-content>
    
  </md-card-content>
  <md-card-actions class="text-center">
    <button type="button" class="btn btn-primary" (click)=saveData()>Guardar</button>
  </md-card-actions>
</md-card>