
<h3>Datos Sociodemográficos</h3>
<form class="form-socio" class="col-sm-6">
  <div class="form-group">
    <label for="gender">Género</label>
    <select class="form-control">
      <option>...seleccionar...</option>
      <option>Femenino</option>
      <option>Masculino</option>
    </select>
  </div>
  <div class="form-group">
    <label for="civilstatus">Estado Civil</label>
    <select class="form-control">
      <option>...seleccionar...</option>
      <option>Soltero</option>
      <option>Unión Libre</option>
      <option>Casado</option>
      <option>Separado/divorciado</option>
      <option>Viudo</option>
    </select>
  </div>
  <div class="form-group">
    <label for="stratum">Estrato socioeconómico</label>
    <input type="text" id="" class="form-control" aria-describedby="helpBlock">
  </div>
  <div class="form-group">
    <label for="insurer">Asegurador EPS</label>
    <select class="form-control">
      <option>...seleccionar...</option>
      <option>No asegurado</option>
      <option>Subsidiado</option>
      <option>Contributivo</option>
      <option>Regímenes especiales</option>
    </select>
  </div>
  <div class="form-group">
    <label for="occupation">Ocupación</label>
    <select class="form-control">
      <option>...seleccionar...</option>
      <option>Oficios de hogar</option>
      <option>Comerciante</option>
      <option>Empleado</option>
      <option>Jubilado</option>
      <option>Estudiante</option>
      <option>Otra</option>
    </select>
  </div>
  <div class="form-group">
    <label for="leveleducation">Nivel de Escolaridad</label>
    <select class="form-control">
      <option>...seleccionar...</option>
      <option>Ninguna</option>
      <option>Primaria</option>
      <option>Bachiller</option>
      <option>Técnica/ Tecnológica</option>
      <option>Universitaria</option>
      <option>Posgrado</option>
    </select>
  </div>
  <div class="form-group">
    <label for="religion">Orientación Religiosa</label>
    <select class="form-control">
      <option>...seleccionar...</option>
      <option>Ninguna</option>
      <option>Adventista 7º día</option>
      <option>Católico</option>
      <option>Testigo de Jehová</option>
      <option>Evangélica</option>
      <option>Otro</option>
    </select>
  </div>
  <nav aria-label="controles">
  <ul class="pager">
    <li><a [routerLink]="['../fisio']">Siguiente</a></li>
  </ul>
</nav>
</form>