
<h3>Dimensión Nutricional</h3>
<form class="form-socio" class="col-sm-6">
  <div class="form-group">
    <label for="insurer">Teniendo en cuenta que la espiritualidad es la tendencia a reconocer a Dios, o a un ser superior, y la manifestación práctica en mi relacionamiento conmigo mismo, con los demás y con el cuidado del medio ambiente, usted se califica como</label>
    <select class="form-control">
      <option>...seleccionar...</option>
      <option>Espiritual</option>
      <option>Moderadamente espiritual</option>
      <option>Poco Espiritual</option>
      <option>No Espiritual</option>
    </select>
  </div>
  <button type="button" class="btn btn-primary" (click)=interpretationConfirm()>Interretacion</button>
  <nav aria-label="controles">
  <ul class="pager">
    <li><a [routerLink]="['../sueno']">Anterior</a></li>
  </ul>
</nav>
</form>