.logo {
    width: 50px; 
    top:  2px;
    position: absolute;
}
.navbar-header {
    position: relative;
    width: 70px;
}

.navbar {
    background-color: #009688
}

.contentBtn{
   background-color: #00897B 
}
